---
import Layout from "../layouts/Layout.astro";
import Icon from "../icons/search.svg";
---

<Layout
	title="Cyberkey Domain Services | About Us"
	description="We are your domain, email, and trust resource."
>
	<main>
		<h1>About Us.</h1>
	</main>
</Layout>
