---
import Layout from "../layouts/Layout.astro";
import Icon from "../icons/search.svg";
---

<Layout
	title="Cyberkey Domain Services"
	description="Get your perfect domain here."
>
	<main>
		<h1>Get the perfect domain.</h1>
	</main>
</Layout>
