---
import Layout from "../layouts/Layout.astro";
import Icon from "../icons/search.svg";
---

<Layout
	title="Cyberkey Domain Services | Email Addresses"
	description="Get your perfect email address."
>
	<main>
		<h1>Get an email address to match your business.</h1>
	</main></Layout
>
