---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/legacy-updated-reverse.png";
---

<Layout
	title="Cyberkey Domain Services"
	description="Your domain, email, and trust resource."
>
	<main>
		<section class="hero" id="intro">
			<div class="viewport-header">
				<Image class="logo" src={logo} alt="Cyberkey Domain Services logo" />
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	.viewport-header {
		display: flex;
		justify-content: center;
	}
</style>
