---
import Layout from "../layouts/Layout.astro";
import Icon from "../icons/search.svg";
---

<Layout
	title="Cyberkey Domain Services | Trust"
	description="Your domain, email, and trust resource."
>
	<main>
		<h1>We are your resource for Trust Services.</h1>
	</main>
</Layout>
