<nav>
	<ul>
		<li><a href="/domains">Domains</a></li>
		<li><a href="/email">Email</a></li>
		<li><a href="/trust">Trust</a></li>
		<li><a href="/about">About Us</a></li>
	</ul>
</nav>

<style lang="scss">
	ul {
		display: flex;
		list-style: none;

		li {
			margin-right: 4rem;

			a {
				text-decoration: none;
			}
		}
	}
</style>
